<div class="banner">
<p class="t1">Entregas</p>

<table class="table table-bordered">
    <thead>
      <tr>
        <th class="t2" scope="col" style="width: 5%;">Entregador</th>
        <th class="t2" scope="col" style="width: 5%;">CPF entreg</th>
        <th class="t2" scope="col" style="width: 10%;">Tipo de Entrega</th>
        <th class="t2" scope="col" style="width: 5%;">Status</th>
        <th class="t2" scope="col" style="width: 10%;">Saindo de</th>
        <th class="t2" scope="col" style="width: 10%;">Destino</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entrega of entrega2">
          <td *ngFor="let item of entrega">{{item}}</td>
        </tr>
    </tbody>
  </table>
</div>