
.banner{
    background-image: url(src/assets/img/tabelaEntregas.jpg);
    background-position: center!important;
    background-size: cover;
 max-width: 2560px;
 margin: auto;
 min-width: 320px;
 height: 710px;
 
}


.btn.btn-primary{
    width: 150px;
    margin-right: 10px;
    background-color:#049b1de7;
    border: 2px solid #049b1de7;
}

.btn.btn-primary:hover {
    border: 2px solid  black;
    color: black;
}

table.table-bordered {
    margin-top: 10px;
/* <<<<<<< HEAD
    margin-left: 5%;
    width: 90%;
======= */
    margin-left: 140px;
    width: 80%;
    border-color: rgb(0, 0, 0);
    background-color: rgb(220, 224, 224);

}

.t1 {
    font-size: 35px;
    text-align: center;
    
}

.t2 {
    font-size: 22px;
}