<body>
    <form action=""></form>
    <div class="main-sobre">
        <div class="card-sobre">
            <div class="contato-links">Nome:
                <input type="text" name="" id="">
            </div>
            <div class="contato-links"><label for="phone">Enter your phone number:</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
            </div>
            <div class="contato-links">Email:</div>
            <div class="contato-links">Mensagem:</div>
        </div>
    </div>	
  </body>
