<body>
<form action="app-navbar">
    <div class="main-sobre">
        <div class="card-sobre">
            <div class="contato-links">
                <label for="nome">Nome: </label>
                <input type="text" name="name" id="nome">
                <a class="line"></a>
            </div>
            <div class="contato-links">
                <label for="email">Email: </label>
                <input type="email"  id="email" name="email">
                <a class="line"></a>
            </div>
            <div class="contato-links">
                <label for="texto2">Assunto: </label>
                <textarea class="assunto" id="texto2" rows="2"></textarea>
                <a class="line"></a>
            </div>
            <div class="contato-links">
                <label for="texto">Mensagem: </label>
                <textarea class="form-control" id="texto" rows="3"></textarea>
                <a class="line"></a>
            </div>
            <input type="submit" value="Enviar">
        </div>
    </div>	
</form>
</body>
