<body>
<form action="app-navbar">
    <div class="main-sobre">
        <div class="card-sobre">
            <div class="contato-links">Nome:
                <input type="text" name="name id="[name]="">
                <a class="line"></a>
            </div>
            <div class="contato-links"><label for="celular">Enter your phone number:</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                <a class="line"></a>
            </div>
            <div class="contato-links">Email:
                <input type="email">
                <a class="line"></a>
            </div>
            <div class="contato-links">Mensagem:
                <input type="text" class="mensagem">
                <a class="line"></a>
            </div>
            <input type="submit" value="Enviar">
        </div>
    </div>	
</form>
</body>
