.body {
	margin: 0;

}

body *{
	box-sizing: border-box;
}

.main-sobre{
	width: 100vw;
	height: 100vh;
	background: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}


.right-sobre{
display: flex;
justify-content: center;
align-items: center;
}

.card-sobre{
width: 60%;
height: 80vh;
flex-direction: column;
padding: 30px 35px;
background: #2f2841;
border-radius: 20px;
box-shadow: 0px 10px 40px #00000056;
color: aliceblue;
}
.contato-links > .line {
	border-bottom: 4px solid whitesmoke;
	width: 50%;
}
.contato-links > input{
	width: 70%; 
	border: none;
	padding: 15px;
	font-size: 10pt;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background:  #514869;
	border-radius: 16px;
}

.contato-links .form-control{
	border: none;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background:  #514869;
	color: #020303de;
	font-size: 10pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	width: 70%;
	padding-bottom: 10px;
	height: 120px;
}

.contato-links .assunto{
	border: none;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #020303de;
	font-size: 10pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	width: 70%;
	padding-bottom: 10px;
	height: 50px;
	text-decoration: none;
	background:  #514869;
	padding: 15px;
	
}

@media only screen and (max-width: 950px){
	.card-sobre{
		width: 85%;
	}
}

@media only screen and (max-width: 600px){
.main-sobre{
	flex-direction: column;
}



.right-sobre{
	width: 100%;
	height: 100vh;
}

.card-sobre{
width: 90%;
 }
}

.btn.btn-secondary {
	background-color:  #049b1de7;
}

.btn.btn-secondary:hover {
	background-color:  #026e14e7;
	color: black;
}

.btn.btn-primary {
	margin-top: 15px;
}