.body {
	margin: 0;

}

body *{
	box-sizing: border-box;
}

.main-sobre{
	width: 100vw;
	height: 100vh;
	background: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}


.right-sobre{
display: flex;
justify-content: center;
align-items: center;
}

.card-sobre{
width: 60%;
height: 80vh;
flex-direction: column;
padding: 30px 35px;
background: #2f2841;
border-radius: 20px;
box-shadow: 0px 10px 40px #00000056;
color: aliceblue;
}
.contato-links .line {
	border-bottom: 4px solid whitesmoke;
	width: 50%;
}
.contato-links > input{
/* border-bottom: 1px solid whitesmoke;
padding: 40px;
 display: block; */
width: 70%; 
	border: none;
	padding: 15px;
	/* color: #f0ffffde; */
	font-size: 12pt;
	/* box-shadow: 0px 10px 40px #00000056; */
	outline: none;
	/* box-sizing: border-box; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.contato-links .mensagem{
	border: none;
	border-radius: 4px;
	padding: 50px;
	background: #e1e0e4;
	color: #f0ffffde;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}


@media only screen and (max-width: 950px){
	.card-sobre{
		width: 85%;
	}
}

@media only screen and (max-width: 600px){
.main-sobre{
	flex-direction: column;
}



.right-sobre{
	width: 100%;
	height: 100vh;
}

.card-sobre{
width: 90%;
 }
}