
<div class="banner">
  <h1>Meus Itens</h1>
  <form  role="search" [formGroup]="formLocalizador" >
    <div class="abc">
      <input class="form-control" type="search" placeholder="buscar localizador / CPF" aria-label="Search" formControlName="localizador" minlength="1" maxlength="100">
      <button class="btn btn-outline-dark" type="submit" (click)="onSearch()">Buscar</button>
    </div>
    <table *ngIf="itens.length > 0" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" style="width: 10%;">localizador</th>
          <th scope="col" style="width: 6%;">Destinatario</th>
          <th scope="col" style="width: 12%;">Endereço</th>
          <th scope="col" style="width: 4%">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
          <td style="width: 10%;">{{item.localizador}}</td>
          <td style="width: 6%;">{{item.nomeRecebedor}}</td>
          <td style="width: 12%;">{{item.localEntrega}}</td>
          <td style="width: 4%;">{{item.status}}</td>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="button-div">
    <button *ngIf="this.user?.cargo != 'PESSOA'" type="submit" class="btn btn-outline-secondary" routerLink="/additem">Adicionar</button>
  </div>
</div>