
table{
    padding: 0!important;
}

.banner{
    background-color: #461e5f;
    font-size: 18px;
    min-height: 40vw;
    padding-bottom: 100px;
    width: 100%;
}

.button-div{
    width: 100%;
    height: 100%;
    justify-content: end;
    display: flex;
}

.btn.btn-outline-dark {
    height: 40px;
    background-color: #cbcbcb;
    color: rgb(87, 87, 87);
    border: none
}

.btn.btn-outline-dark:hover {
    background-color: #bcbcbc;
    color: rgb(61, 61, 61);
}

.btn.btn-outline-secondary {
    height: 40px;
    text-decoration: none;
    max-width: 150px;
    width: 100%;
    margin: 0 10%;
    margin-top: 100px;
    background-color: #dadada;
    color: rgb(110, 110, 110);
}

.btn.btn-outline-secondary:hover {
    background-color: #c3c3c3;
    color: rgb(63, 63, 63);
    margin-left: 10%;
}

table.table-bordered {
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
    color: rgb(63, 63, 63);
    background-color: rgb(198, 198, 198);
}

th,tr,td{
    border-style: none;
    margin-left: 10px;
}

tbody tr:hover{
    background-color: rgb(158, 158, 158);
}

h1{
    font-size: 3vw;
    padding: 30px;
    align-items: center;
    text-align: center;
    color: rgb(230, 230, 230);
}

.form-control {
    width: 20%;
    height: 40px;
    text-decoration: none;
    margin-right: 10px;
    background-color: rgb(210, 210, 210);
}

.form-control:hover{
    background:  rgb(206, 206, 206);
    text-decoration-color: aliceblue;
    border: 1px solid rgb(0, 0, 0);   
    margin-right: 10px;
}

@media screen and (max-width: 600px){
    .form-control {
        width: 80%;
    }
    table.table-bordered {
        font-size: 2.8vw;
    }
    .banner{
        width: 100%;
    }
    h1{
        font-size: 6vw;
    }
}

.abc {
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.abc input {
    max-width: 300px;
    width: 80%;
}
