
<p class="t1">Meus Itens</p>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pedido</th>
        <th scope="col">Destinatario</th>
        <th scope="col">Endereço</th>
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itens of itens">
        <td>{{itens.localizador}}</td>
        <td>{{itens.nomeRecebedor}}</td>
        <td>{{itens.localEntrega}}</td>
        <td>{{itens.status}}</td>
        
      </tr>
    </tbody>
  </table>
  <!-- <button type="submit" class="btn btn-outline-dark">Adicionar</button> -->

  <!-- Button trigger modal -->
