
.d-flex {
    width: 380px;
    padding: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.btn.btn-outline-dark {
    text-align: center;
}

table.table-bordered {
    margin-top: 10px;
    margin-left: 50px;
    width: 1500px;
}

.t1 {
    font-size: 35px;
    text-align: center;
    
}