<form class="d-flex" role="search"  (ngSubmit)="search()">
    <input class="form-control me-2" type="search" name="search" id="search"
    placeholder="search" required
    minlength="11" maxlength="11" size="11" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Buscar</button>
</form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pedido</th>
        <!-- <th scope="col">Destinatario</th> -->
        <!-- <th scope="col">Endereço</th> -->
        <th scope="col">Status</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itens of itens">
        <td>{{itens.localizador}}</td>
        <td>{{itens.nomeRecebedor}}</td>
        <td>{{itens.localEntrega}}</td>
        <td>{{itens.status}}</td>
      </tr>
    </tbody>
  </table>