.body {
    box-sizing: border-box;
    
    position: absolute;
    width: 1500px;
    height: 1084px;
    left: -43px;
    top: -15px;
    
    background: url(image.png);
    border: 1px solid #000000;
    filter: blur(2px);
    }