<div class="banner">
<h1>Funcionários</h1>
<div *ngIf="loading" class="spinner-border spinner-border-md" style="margin-left:47%;"></div>
<form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Cpf</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of funcionarios">
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.sobrenome}}</td>
        <td>{{funcionario.telefone}}</td>
        <td>{{funcionario.cpf}}</td>
      </tr>
    </tbody>
  </table> 
</form>
</div>
  