
<div class="container-fluid footer">
    <div class="row" >
        <div class="col-lg-6">
            <h1>TechMoves</h1>
            <!-- <p></p> -->
        </div>

        <div class="col-lg-4">
            <a routerLink="">Inicio</a>
            <a routerLink="about">Sobre</a>
            <a routerLink="login">Login</a>
            <a routerLink="contact">Contato</a>
        </div>

        <div class="col-lg-2">
            <!-- <a href="#" target="_blank"></a>
            <a routerLink="about">Sobre</a>
            <a routerLink="login">Login</a> -->
            <!-- <a>Contato</a> -->
        </div>

    </div>
</div>
