.banner{
    background-image: url(src\assets\img\fundoAjuda.jpg);
    background-position: center!important;
    background-size: cover;
 max-width: 2560px;
 margin: auto;
 min-width: 320px;
 height: 720px;
 
}

.texto3 {
    font-size: 32px;
    text-align: center;
    padding: 25px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 130px;
    color: black;
    text-shadow: 3px 3px rgb(160, 158, 158);
}

.texto4 {
    font-size: 32px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px rgb(160, 158, 158);
}
