/* .card-img-top .card{
    height:"400px" ;
    padding:"50px";
}

/* .aboutus{
    background-image: url(css\aboutus.jpg);
    height: 40px;
} */

/* .row {
    border: 50px solid;
    width: 50%;
    padding: 10px 20px;
    margin-top: 26px;
    margin-left: 350px;
    border-radius: 14px;
}

.row {
    background: linear-gradient(to bottom right, rgb(99, 99, 100), pink);
  } */ 

  .body {
	margin: 0;

}

body *{
	box-sizing: border-box;
}

.main-sobre{
	width: 100vw;
	height: 100vh;
	background: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-sobre{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.left-sobre-image{
	width: 35vw;
	height: 80vh;
	align-items: flex-end;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	margin-left: 120px;
}

/* .right-sobre{
display: flex;
justify-content: center;
align-items: center; */
/* } */

.card-sobre{
width: 80%;
height: 80vh;
flex-direction: column;
padding: 30px 35px;
align-items: flex-start;
justify-content: center;
display: flex;
align-content: flex-start;
background: #2f2841;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
box-shadow: 0px 10px 40px #00000056;
}

.card-sobre > h1{
padding-bottom: 10px;
	align-items: center;
	justify-content: center;
	color: aliceblue;
}

.card-sobre > h6{
	
	align-items: center;
	justify-content: center;
	letter-spacing: 2px;
	color: aliceblue;
}

@media only screen and (max-width: 950px){
	.card-sobre{
		width: 80%;
	}
	
}

@media only screen and (max-width: 680px){
.main-sobre{
	flex-direction: column;
	height: auto;
	margin: 0 auto;
	padding-top: 60px;
}


 .left-sobre{
	 width: 0; 
	 height: 0;
} 


.right-sobre{
	width: 100%;
	height: 100vh;
}

.left-sobre-image{
	/* width: 100%;
	height: 60vh;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px; */
visibility: hidden;
} 

.card-sobre{
width: 100%;
height: 60%;
/* margin-bottom: 800px; */
border-radius: 20px;
max-width: 90%;
margin-left: auto;
margin-right: auto;
/* padding: 60px 60px; */
padding-bottom: 50px;
 }

 .card-sobre > h6{
	width: 100%;
	height: auto;
 }

}
