<!-- <div class="row ">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="..." class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h3 class="mt-0">Um pouco sobre a TechMoves</h3>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
   <a href="#" class="stretched-link">Go somewhere</a> -->
  <!-- </div>
</div>
<div>
  <img src="C:\Users\User\Documents\TCC-Entra21\projeto-final\src\css\aboutus.jpg" alt="">
</div>  -->

<body>
  <div class="main-sobre">
		<div class="left-sobre">
      <img src="https://images.unsplash.com/photo-1665686306574-1ace09918530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
       alt="legal" class="left-sobre-image">
		</div>
		<div class="right-sobre">
			<div class="card-sobre">
        <h1>Um pouco sobre nós</h1>
        <h6>Desde a nossa fundação, o nosso site é conhecido por serviços de qualidade, eficiência excepcional e o mais alto nível de 
          profissionalismo. Não importa o
           serviço que esteja procurando, nós garantimos não apenas atender, mas exceder suas expectativas e garantir sua total satisfação. <br>

          Nossa equipe está preparada para qualquer serviço, gerenciando projetos com a habilidade e experiência que nossos 
          clientes esperam. Entre em contato para obter mais informações sobre nossa equipe, nossa empresa ou os serviços 
          que oferecemos.</h6>
      </div>
		</div>	
  </div>	
</body>
