<!-- <nav class="navbar bg-light" *ngIf="user != null">
  <div class="container-fluid">
    <p class="texto1" href="#" *ngIf="user != null">TechMoves</p>
    <button class="navbar-toggler" *ngIf="user != null" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <img class="navbar-brand"
src="https://uploaddeimagens.com.br/images/004/060/252/thumb/Meu_projeto.png?1665705449"/>
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TechMoves</h5>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active-link" class="nav-link" data-bs-dismiss="offcanvas">Início</a>
      </li>
      <li class="nav-item">
        <a routerLink="localizador" routerLinkActive="active-link" class="nav-link" data-bs-dismiss="offcanvas">Localizador</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="config" routerLinkActive="active-link" class="nav-link" data-bs-dismiss="offcanvas">Configurações</a>
        Alterar perfil está marcado com "configurações" -->
      <!-- </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="funcionarios" routerLinkActive="active-link" class="nav-link" data-bs-dismiss="offcanvas">Funcionários</a>
      </li>
      <li class="nav-item">
        <a   class="nav-link" routerLink="ajuda" routerLinkActive="active-link" class="nav-link" data-bs-dismiss="offcanvas">Ajuda</a>
      </li>
      //user ta null
      <li class="nav-item" *ngIf="user != null">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
</div>
</nav>
 -->

<!-- <nav class="navbar navbar-dark bg-dark"> LUCAS
<div class="container-fluid">
  <a class="navbar-brand" href="#" *ngIf="user == null">iBook</a>
  <a *ngIf="user != null" class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">☰ iBook</a>
  <div id="navbarSupportedContent">
    <div class="spacer"></div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="user == null">
        <a class="nav-link" routerLink="/login">Login/Cadastro</a>
      </li>
      <li class="nav-item" *ngIf="user != null">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav> -->
  
 -->
