<div class="login-html">

    <!-- <div class="login-form">				<input id="tab-1" type="radio" name="tab" class="sign-in" checked ><label for="tab-1" class="tab" >Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label> -->
<div class="main-login">
                    <!-- <div class="left-login">
                        <h1>FAÇA LOGIN<br> E acompanhe seus itens</h1>
                        <img src="css/loguinho.svg" alt="legal" class="left-login-image">
                    </div> -->
    <div class="sing-in-htm">
        <div class="right-login">
            <div class="card-login">
                <div class="textfield">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="textfield">
                     <label for="pass" class="label">Password</label>
                     <input id="pass" type="password" class="input" data-type="password">
                </div>
                 <div class="textfield">
                     <label for="pass" class="label">Repeat Password</label>
                     <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="textfield">
                    <label for="pass" class="label">Email Address</label>
                    <input id="pass" type="email" class="input">
                </div>
                <a type="button" class="btn-login" >Sing up</a>
</div>
</div>
</div>
</div>
</div>

