.btn.btn-outline-dark {
    margin-right: 10px;
margin-left: 14px;
}

.btn.btn-outline-secondary {
    margin-left: 750px;
}

table.table-bordered {
    margin-top: 10px;
    margin-left: 50px;
    width: 1500px;
}

.t1 {
    font-size: 35px;
    text-align: center;
    
}

.t2 {
    font-size: 22px;
}