
<p class="t1">Entregas</p>

<table class="table table-bordered">
    <thead>
      <tr>
        <th class="t2" scope="col" style="width: 5%;">Entregador</th>
        <th class="t2" scope="col" style="width: 5%;">CPF entreg</th>
        <th class="t2" scope="col" style="width: 10%;">Tipo de Entrega</th>
        <th class="t2" scope="col" style="width: 5%;">Status</th>
        <th class="t2" scope="col" style="width: 10%;">Saindo de</th>
        <th class="t2" scope="col" style="width: 10%;">Destino</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entrega of entrega2">
          <td *ngFor="let item of entrega">{{item}}</td>
        </tr>
    </tbody>
  </table>
  <!-- <button type="submit" class="btn btn-outline-dark">Adicionar</button> -->

  <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Adicionar
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mb-3">
          <label for="func" class="form-label" >Pedido</label>
          <input type="text" class="form-control" id="func" placeholder="Localizador">
        </div>
        <div class="mb-3">
          <label for="func" class="form-label" >Nome do Entregador</label>
          <input type="text" class="form-control" id="func" placeholder="Nome do Entregador">
        </div>
        <div class="mb-3">
          <label for="func" class="form-label" >Tipo de Entrega</label>
          <input type="text" class="form-control" id="func" placeholder="Tipo de Entrega">
        </div>
        <div class="mb-3">
          <label for="func" class="form-label" >Endereço</label>
          <input type="text" class="form-control" id="func" placeholder="Endereço">
        </div>
        <div class="mb-3">
          <label for="func" class="form-label" >Status</label>
          <input type="text" class="form-control" id="func" placeholder="Status">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Adicionar</button>
      </div>
    </div>
  </div>
</div>
