* {
    align-items: center;
    justify-items: center;
    margin: auto;
   
}
.texto1 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.table.table-bordered {
    width: 800px;
    margin-left: 450px;
    max-width: 80%;
    margin: 2rem auto;
    text-align: center;
    /* min-width: ; */
}

/* .btn.btn-outline-dark {
    margin-left: 740px;
} */

/* .no {
    width: 900px;
    padding-top: 16px;
} */

.campos{
    display: inline-block;
    margin-right: 40px;

}
.head {
    display: inline-table;
    margin-right: 70px;
    padding: 10px;
}

.right{
    border-left: none;
    background: #b4ffe6e7;
}

.left{
    border-right: none;
    background: #b4ffe6e7;
}

.meio {
    border: none;
    background: #b4ffe6e7;
}
p {
    align-items: center;
    justify-content: center;
    margin: auto;
}
input {
    width: 400px;
    margin-left: 460px;
    margin: auto;
    min-width: auto;
    margin-right: 0;
}

.linhas:hover{

 background:#79a899e7;
}

#extra {
    width: 150px;
}

.btn.btn-secondary {
    width: 150px;
    margin-right: 10px;
    background-color: rgb(180, 6, 6);
    border: 2px solid rgb(180, 6, 6);
    
}

.btn.btn-secondary:hover {
    border: 2px solid  #8ae2c5e7;
    color: black;
}

#cads {
    display: flex;
    margin-left: auto;
}

.btn{
    /* box-shadow: 4px  gray inset; */
    /* border-color: #b4ffe6e7; */
    border: 2px solid  #8ae2c5e7;
    margin-left: 0;
}
.btn:hover {
    background: #8ae2c5e7;
    /* box-shadow: 4px gray;
    color: white; */
    margin-left: 0;
   
}

#t1 {
    text-align: center;
}