<form  [formGroup]="form" >
<p class="texto1">Funcionários</p>

<form class="d-flex" role="search">
  <input class="form-control me-2" type="search" placeholder="Localizador" aria-label="Search">
  <button class="btn btn-outline-dark" type="submit" (click)="onSearch()" placeholder="Buscar Funcionários">Buscar</button>
</form>
<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

<table class="table table-bordered">
  <thead>
    <tr>
    <td>
    <div class="head">Nome</div>
    <div class="head">Sobrenome</div>
    <div class="head">Cpf</div>
    </td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let funcionarios of funcionarios">
       <!-- <div *ngIf="this.funcionarios | async as funcionarios; else loading"></div> Resolver -->
      <td class="no">
        <td>{{funcionarios.nome}}</td> 
        <td>{{funcionarios.sobrenome}}</td>
        <td>{{funcionarios.cpf}}</td>
      <!-- </td> -->
    </tr>
  </tbody>
</table> 
<!-- 


</form>
 