

<nav class="navbar navbar-expand-md navbar-dark">
  <div class="logo">
    <img class="navbar-brand-image" src="../../../assets/img/logo.png" alt="logo"/>
  </div>
  <div class="title">
    TechMoves
  </div>  
<div>
  <label class="nomeUsuario">{{this.user?.nome}}</label>
</div>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="outline: none;">
   <span class="navbar-toggler-icon" style="color: white;"></span>
</button>
<div class="container-fluid" >
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active-link" >Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">Sobre nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active-link" *ngIf="user == null ">Login</a>
      </li>
    </ul>
    <button class="navbar-toggler-always" style="color: white;" *ngIf="user != null" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      Menu
    </button>
  </div>
  </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <img class="navbar-brand" src="../../../assets/img/logo.png"/>
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TechMoves</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a id routerLink="localizador" routerLinkActive="active-link" class="nav-link-a" data-bs-dismiss="offcanvas" *ngIf="user != null ">Meus Itens</a>
      </li>
      <li class="nav-item">
        <a id routerLink="entregas" routerLinkActive="active-link" class="nav-link-a" data-bs-dismiss="offcanvas" *ngIf="user != null && (user.role == 'FUNCIONARIO' || user.role == 'GERENTE'|| user.role == 'SUPERVISOR')">Entregas</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="config" routerLinkActive="active-link" class="nav-link-a" data-bs-dismiss="offcanvas" *ngIf="user != null ">Configurações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="funcionarios" routerLinkActive="active-link" class="nav-link-a" data-bs-dismiss="offcanvas" *ngIf="user != null && (user.role == 'FUNCIONARIO' || user.role == 'GERENTE' || user.role == 'SUPERVISOR')">Funcionários</a>
      </li>
      <li class="nav-item" *ngIf="user != null">
          <a class="nav-link-a" data-bs-dismiss="offcanvas" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>