
*{
    color: white;
}
nav{
    background-color: #2f1f3a;
}
.navbar-light .navbar-nav .nav-link.active-link {
    color: var(--primeira-color);
}
.nav-item .nav-link-a{
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
    align-items: center;
    justify-content:center ;
    display: flex;
}
.logo {
    width: 100px;
    text-align: center;
}
.navbar-nav .nav-link:hover{
    border-radius: 7px;
    transition: 0.25s ease;
    background-color: rgba(199, 197, 206, 0.39);
    color:#e9e9e9dc;
}
.navbar-nav .nav-link{
    border-radius: 10px;
    padding: 5px;
    transition: 0.25s ease;
}
.navbar-nav .nav-link-a:hover{
    width: 100%;
    border-radius: 1px;
    transition: 0.25s ease;
    background-color: rgba(199, 197, 206, 0.39);
    color:#ebebebdc;
}
.navbar-brand-image{
    width: 90%;
    position: relative;
}
.navbar-brand{
    width: 40%;
    position: relative;
}
.title, .offcanvas-title {
    font-size: 25px;
    font-weight: bold;
}
.offcanvas{
    transition: 0.3s;
    background-color: #27033e;
    border-radius: 20px;
    margin: 30px;
}
.offcanvas-body{
    margin: 50px 0;
}
.nomeUsuario{
    margin-left: 5px;
    display: block;
    text-align: center;
    font-size: 25px;
}
@media screen and (max-width: 500px){
    .nomeUsuario{font-size: 16px;}
}
@media screen and (max-width: 415px){
    .nomeUsuario{font-size: 10px;}
}
@media screen and (max-width: 393px){
    .nomeUsuario{display: none;}
}