<body>
  <div class="main-sobre">
		<div class="left-sobre">
      <img src="../../assets/img/sobre.jpg" alt="legal" class="left-sobre-image">
		</div>
		<div class="right-sobre">
			<div class="card-sobre">
        <h1>Um pouco sobre nós</h1>
        <h6>Desde a nossa fundação, o nosso site é conhecido por serviços de qualidade, eficiência excepcional e o mais alto nível de 
          profissionalismo. Não importa o
           serviço que esteja procurando, nós garantimos não apenas atender, mas exceder suas expectativas e garantir sua total satisfação. <br>

          Nossa equipe está preparada para qualquer serviço, gerenciando projetos com a habilidade e experiência que nossos 
          clientes esperam. Entre em contato para obter mais informações sobre nossa equipe, nossa empresa ou os serviços 
          que oferecemos.</h6>
      </div>
		</div>	
  </div>	
</body>
