
<div class="body">
<h2>Adicionar itens</h2>
<form  role="search" [formGroup]="itemForm" (ngSubmit)="AddItem()">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 25%;">nome do destinátario</th>
        <th style="width: 50%;">local da entrega</th>
        <th style="width: 25%;">CPF do destinátario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label for="nomeRecebedor" class="label">nome do destinátario</label>
          <input type="text" id="nomeRecebedor"  placeholder="Nome do cliente" maxlength="100" formControlName="nomeRecebedor">
        </td>
        <td>
          <label for="localEntrega"  class="label">local da entrega</label>
          <input type="text" id="localEntrega"  placeholder="Rua,Casa,Cidade,Estado" maxlength="100" formControlName="localEntrega">
        </td>
        <td>
          <label for="pessoaItem"  class="label">CPF do destinátario</label>
          <input type="text" id="pessoaItem"  placeholder="00011122233" formControlName="pessoaItem" minlength="11" maxlength="11">
        </td>
      </tr>
    </tbody>
    <input type="submit" class="btn btn-outline-dark" value="Adicionar">
  </table>
  <div class="error" *ngIf="this.error != ''">{{this.error}}</div>
</form>
</div>