
*{
    color: white;
}

.body{
    background-color: #461e5f;
    min-height: 35vw;
    padding: 0 0 100px 0;
    width: 100%;
}

h2 {
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 50px 0;
    text-size-adjust: bold;
}

th{
    font-size: 2vw;
    font-weight: 10;
}

td label{
    display: none;
}

@media screen and (max-width: 700px){
    th{
        display: none;
    }
    td{
        display: block;
    }
    td label{
        display: block;
    }
}

.btn.btn-outline-dark {
    margin: 20px;
    width: 200px;
    color: black;
}

.btn.btn-outline-secondary {
    margin-left: 750px;
    background: black!important;
}

input{
    border-style: none;
    border-radius: 8px;
    border-bottom: none;
    background: rgb(212, 212, 212);
    border-radius: 8px;
    padding: 5px;
    color: black;
    text-decoration: black;
    width: 100%;
}

input:hover{
    background: rgba(220, 220, 220, 0.89);
    border-radius: 8px;
    padding: 5px;
    transition: 0.20s ease;
    color: rgb(0, 0, 0);
    text-decoration: black;
}

.input::placeholder:hover{
    color: black;
}

.error{
    padding: .5%;
    border-radius: 8px;
    border-bottom: none;
    background: rgba(212, 212, 212, 0.705);
    border-radius: 8px;
    color: rgb(52, 52, 52);
    text-decoration: black;
    width: 99%;
}

.table, .error{
    width: 90%;
    margin-left: 5%;
}