<p>APP WORKS VAI CARAI</p>
<!-- <form class="d-flex" role="search" [formGroup]="itemForm" (ngSubmit)="AddItem()"

<p class="t1">Meus Itens</p>


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pedido</th>
        <th scope="col">Destinatario</th>
        <th scope="col">Endereço</th>
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody>

       <tr *ngFor="let itens of itens"> 
        <tr *ngFor="let item of item ">
        <td>
            <label for="localiz" class="label">Localizador </label>
            <input type="text" id="localiz"  placeholder="Sobrenome" formControlName="localizador"></td>
        <td><input type="text">Status</td>
        <td><input type="text">Nome do Recebedor</td>
        <td><input type="text">Local Entrega</td>
        <td><input type="text">Pessoa Item</td>
        
        
        <td >Editar e Deletar</td>

      </tr>
    </tbody>
  </table>
  <input type="submit" class="btn btn-outline-dark" value="Adicionar" > -->