<body>
<form action="app-navbar">
    <div class="main-sobre">
        <div class="card-sobre">
            <div class="contato-links">
                <label for="nome">Nome: </label>
                <input type="text" name="name" id="nome">
                <a class="line"></a>
            </div>
            <div class="contato-links">
                <label for="email">Email: </label>
                <input type="email"  id="email" name="email">
                <a class="line"></a>
            </div>
            <div class="contato-links">
                <label for="assunto">Assunto: </label>
                <textarea class="form-control" id="assunto" name="assunto"></textarea>
                <a class="line"></a>
            </div>
            <div class="contato-links">
                <label  for="msg">Mensagem: </label>
                <textarea maxlength="526" class="form-control" id="texto" rows="3"></textarea>
                <a class="line"></a>
            </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Enviar
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3 style="color: #049b1de7;">Mensagem enviada com sucesso</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</form>
</body>
