<div class="main">
    <div class="banner">
        <h1>Bem vindo(a) <br> <h3>à TechMoves</h3></h1>
    </div>
    <section class="section">
        <h1>Nossa equipe</h1>
        <!-- <div class="nos">
            <div class="nospessoas"><img src="css\fotogabi.jpg" alt="fotos"><a href="https://www.linkedin.com/in/gabrielaschirmer/">Linkedin</a></div>
            <div class="nospessoas"><a href="https://www.linkedin.com/in/gabrielaschirmer/">Linkedin</a><img src="src\css\fotomaria.jpg" alt="fotos"></div>
            <div class="nospessoas"><a href="https://www.linkedin.com/in/gabrielaschirmer/">Linkedin</a><img src="css\fotoeder.jpg" alt="fotos"></div>
            <div class="nospessoas"><a href="https://www.linkedin.com/in/gabrielaschirmer/">Linkedin</a><img src="css\" alt="fotos"></div>
            <div class="nospessoas"><a href="https://www.linkedin.com/in/gabrielaschirmer/">Linkedin</a><img src="css\" alt="fotos"></div>
        </div> -->
    </section>
</div>
