<div class="main">
    <div class="banner"  *ngIf="user == null ">
        <h1>Bem vindo(a) <br> <h3>à TechMoves</h3></h1>
    </div>
    <div class="banner"  *ngIf="user != null ">
      <h1>Bem vindo(a) <br> <h3>à TechMoves {{this.user.nome}}</h3></h1>
  </div>
    <!-- <section class="section">
        <h1>Nossa equipe</h1>
    
      
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="\assets\img\fotomarlon.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Marlon Pereira</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="\assets\img\fotofelipe.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Felipe Getulio Pereira</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="\assets\img\fotoedernv.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Eder Fransisco Guber</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="\assets\img\fotomaria.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Maria Luiza Tomío</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
                  <div class="col">
                    <div class="card">
                      <img src="\assets\img\fotogabinv.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Gabriela Schirmer</h5>
                        <p class="card-text"></p>
                      </div>
                </div>
              </div>
            </div>
      
    </section> -->
</div>
