<div class="main">
    <div class="banner">
        <h1>Bem vindo(a) <br> <h3>à TechMoves</h3></h1>
    </div>
    <section class="section">
        <h1>Nossa equipe</h1>
        <!-- <div class="nos">
            <div class="nospessoas"><img src="../../assets/img/fotogabinv.jpg" alt="fotos" class="gabi"><a href="https://www.linkedin.com/in/gabrielaschirmer/">Linkedin</a></div>
            <div class="nospessoas"><a href="" class="maria">Linkedin</a><img src="../../assets/img/fotomaria.jpg" alt="fotos"></div>
            <div class="nospessoas"><a href="" class="eder">Linkedin</a><img src="../../assets/img/fotoedernv.jpg" alt="fotos"></div>
            <div class="nospessoas"><a href="" class="felipe">Linkedin</a><img src="src\assets\img\fotofelipe.jpeg" alt="fotos"></div>
            <div class="nospessoas"><a href="" class="marlon">Linkedin</a><img src="src\assets\img\fotomarlon.jpeg" alt="fotos"></div>
        </div> -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="\assets\img\fotogabinv.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gabriela Schirmer</h5>
                </div>
              </div>
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <strong> Redes Sociais</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h5>Linkedin</h5> <h5>Instagram</h5> <h5>Github</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="\assets\img\fotomaria.jpg" class="card-img-top" alt="../../assets/img/fotomaria.jpg">
                <div class="card-body">
                  <h5 class="card-title">Maria Luíza Tomio</h5>
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong> Redes Sociais</strong>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h5>Linkedin</h5> <h5>Instagram</h5> <h5>Github</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="\assets\img\fotoedernv.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Eder</h5>
                  </div>
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong> Redes Sociais</strong>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h5>Linkedin</h5> <h5>Instagram</h5> <h5>Github</h5>
                    </div>
                  </div>
            <div class="col">
              <div class="card">
                <img src="\assets\img\fotofelipe.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Felipe</h5>
                </div>
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong> Redes Sociais</strong>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h5>Linkedin</h5> <h5>Instagram</h5> <h5>Github</h5>
                    </div>
                  </div>
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4><strong> Redes Sociais</strong></h4>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h5>Linkedin</h5> <h5>Instagram</h5> <h5>Github</h5>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="\assets\img\fotomarlon.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Marlon</h5>
                </div>
              </div>
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>  Redes Sociais</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h5>Linkedin</h5> <h5>Instagram</h5> <h5>Github</h5>
                </div>
              </div>
            </div>
          </div>
        </div></div>

    </section>
</div>
