.banner{
    background-image: url(../../assets/img/fundo.jpeg);
    background-position: center!important;
    background-size: cover;
 max-width: 2560px;
 margin: auto;
 min-width: 320px;
 height: 720px;
 
}

.banner > h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    top: 20%;
    left: 50%;
    position: absolute;
    margin: auto;

}

.section{
    width: 80%;
    padding: 60px;
}

.nos .nospessoas img > .gabi  {
    height: 1000vh;
}

.card img {
    /* max-width:200px;
    max-height:150px;
    width: auto; */
    height: 260px;
    border-radius: 100%;
    border: ;
}

.card {
    border: none;
}

