.footer{
    width: 100%;
    padding: 150px 0;
    background-color: #2f1f3a;
    position: sticky;
    text-align: center;
}
h1{
    width: 100%;
    display: block;
    color: white;
    font-size: 50px;
    text-align: center;
}
h6{
    width: 100%;
    display: block;
    color:aliceblue;
    font-size: 30px;
    text-align: center;
}
