
<div class="containeri">
  <h1 class="titulo">Alterar Entrega</h1>
  <div class="shadow p-3 mb-5 bg-body rounded">
    <form class="form" [formGroup]="itemForm">
      <div class="mb-3">
        <label for="localizador" class="form-label">Localizador</label>
        <input type="text" class="form-control" id="localizador" formControlName="localizador" placeholder="localizador">
      </div>
      <div class="mb-3">
        <label for="entregador" class="form-label">Nome do Entregador</label>
        <input type="text" class="form-control" id="entregador" formControlName="entregador" placeholder="nome do novo entregador">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <input type="text" class="form-control" id="status" formControlName="status" placeholder="novo status">
      </div>
      <button type="submit" class="btn btn-outline-dark" (click)="attEntrega()">Salvar</button>
    </form>
  </div>
  <div class="error" *ngIf="this.error != ''">{{this.error}}</div>
</div>
