
* {
    border-style: none;
}
h1 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: bold;
}
table{
    margin-left: 5%;
    width: 90%;
    color: rgb(63, 63, 63);
    background-color: rgb(198, 198, 198);
}
thead{
    border-style: none;
}
tbody tr:hover{
    background-color: rgb(158, 158, 158);
}
.body{
    background-color: #461e5f;
    min-height: 30vw;
    padding: 50px 0 50px 0;
}
.form{
    max-width: 500px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(198, 198, 198)!important;
}
.form input{
    background-color: #cdcdcd!important;
}
@media screen and (max-width: 750px){
    .body{
        font-size: 2.3vw;
    }
    table{
        margin-left: 0;
        width: 100%;
    }
}