.texto2 {
    font-size: 40px;
    text-align: center;
}

.mb-3 {
    width: 400px;
}

.shadow.p-3.mb-5.bg-body.rounded {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-outline-dark{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
