/* Página Inicial 

.nav-link{
    font-size: 22px;
    padding: 30px;
    text-align: center;
    color: rgb(7, 4, 5)!important;
}

.nav-link:hover {
    color: rgb(119, 2, 173)!important;;
}

.offcanvas-title {
    font-size: 30px;
    align-content: center;
}

.btn.btn-link{
    font-size: 22px;
   padding: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(7, 4, 5)!important;
}

.btn.btn-link:hover {
    color: rgb(119, 2, 173)!important;;
}

.navbar-brand {
    width: 140px;
    align-self: center;
    margin-top: 0px;
}

/* Localizador */

/* .form-control.me-2 {
    width: 350px;
} */ 