<p class="texto2">Alterar Item</p>

<div class="shadow p-3 mb-5 bg-body rounded">

<form class="form1">
    <div class="mb-3">
        <label for="funcionarios" class="form-label">Destinatario</label>
        <input type="text" class="form-control" id="funcionarios" placeholder="Destinatario antigo">
      </div>
      <div class="mb-3">
        <label for="funcionarios" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="funcionarios" placeholder="Endereço antigo">
      </div>
      <div class="mb-3">
        <label for="funcionarios" class="form-label">Status</label>
        <input type="text" class="form-control" id="funcionarios" placeholder="Status antigo">
      </div>
    <button type="submit" class="btn btn-outline-dark">Salvar</button>
  </form>
</div>

